<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>EnvironmentVariables</key>
	<dict>
		<key>PATH</key>
		<string>/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin</string>
	</dict>
	<key>ExitTimeOut</key>
	<integer>1800</integer>
	<key>Label</key>
	<string>com.xtm.monthlyreport</string>
	<key>Nice</key>
	<integer>1</integer>
	<key>ProgramArguments</key>
	<array>
		<string>/opt/homebrew/opt/python@3.14/bin/python3.14</string>
		<string>/Users/jayjay5032/MartinMonthlyReport/generate_report.py</string>
		<string>--auto-send</string>
	</array>
	<key>RunAtLoad</key>
	<false/>
	<key>StandardErrorPath</key>
	<string>/Users/jayjay5032/MartinMonthlyReport/xtm_report_error.log</string>
	<key>StandardOutPath</key>
	<string>/Users/jayjay5032/MartinMonthlyReport/xtm_report.log</string>
	<key>StartCalendarInterval</key>
	<dict>
		<key>Day</key>
		<integer>1</integer>
		<key>Hour</key>
		<integer>9</integer>
		<key>Minute</key>
		<integer>0</integer>
	</dict>
	<key>WorkingDirectory</key>
	<string>/Users/jayjay5032/MartinMonthlyReport</string>
</dict>
</plist>
